#  в архиве есть мусорные файлы и системные файлы 
# (папка tmp, файлы, заканчивающиеся суффиксами _old, _backup, Thumbs.db и .DS_Store) 
# и их нужно проигнорировать
# Проигнорируйте файлы, находящиеся в подкаталоге tmp и файлы, заканчивающиеся суффиксами _old, _backup;
# Убедитесь, что также проигнорированы файлы (Thumbs.db и .DS_Store);
tmp/
*_old
*_backup
*Thumbs.db
*.DS_Store